<div class="col-sm-8 col-md-6">

<!-- title -->
<h1 itemprop="name">
	{{ item_name }}
</h1>
<p class="text-muted">
	<span>{{ _("Item Code") }}:</span>
	<span itemprop="productID">{{ doc.name }}</span>
</p>


                <!-- quickrepair: add form + List service start html-->  

				<div class="tab1">
									{% if repair_item_specification -%}
										<div itemprop_repair="repairs" itemscope itemtype="http://schema.org/Repair">
											
										
									<div class=" repair-item-specification" style="margin-top: 0px">
											<table class="table table-hover table-responsive table-striped" >
												<thead>
													<tr>
													  <th>{{ _("Herstelling") }}</th>
													  <th>Prijs</th>
													  <th></th>
													</tr>
												  </thead>
												  <tbody> 
											{% for d in repair_item_specification -%}
												<tr>
					<td style="vertical-align:middle;">{{ d.repair_item }}</td>						 
													<td><h4>€{{'%0.2f'| format(d.repair_price|float)}}</h4></td>
													<td style="vertical-align:middle; width:130px;"><a class="signup" onClick="nextPrev('{{ d.repair_item }}')">Maak Afspraak</a></td>
												</tr>
											{%- endfor %}
												</tbody>
											</table>
									</div>
									</div>
									{%- endif %}
								   </div>  
					<style >
					a.signup {
						color: #fff !important;
						text-decoration: none !important;
						font-size: 14px !important;
						background: #ef4c23;
						padding: 5px;
						border-radius: 5px;
					}
					.shopping_cart{
						margin-top:12px;
					}
					.shopping_cart a{ color: #fff !important;
						text-decoration: none !important;
						font-size: 18px ;
						background: #ef4c23;
						padding: 5px;
						border-radius: 5px;
						text-align:center;
						display:block;
					}
					.shopping_cart a i{
						font-size:28px;
						vertical-align: middle;
					}
					</style>
								   <div class="tab2" style="display:none;">
										   <div id="form-alert" class="" style=" margin-bottom: 14px; "></div>
										<a class="btn btn-default float-right" onClick="prevback()"> << Terug</a>
										<div class="form-group">
										  <label for="name">Naam </label>
										  <input type="text" class="form-control" id="name" placeholder="Naam">
										</div>
										<div class="form-group">
										  <label for="email">Uw Email</label>
										  <input type="text" class="form-control" id="email" placeholder="Vul uw email in">
										</div>
										<div class="form-group">
										  <label for="phone">Telefoon</label>
										  <input type="text" class="form-control" id="phone" placeholder="Telefoon">
										</div>
										<div class="form-group">
										  <label for="repair">Welke herstelling?</label>
										  <input type="text" class="form-control" id="repair" readonly="readonly" placeholder="Welke herstelling?">
										</div>
										<div class="form-group">
										  <label for="store">Welke winkel wilt u langskomen?</label>
										  <select id="store" class="form-control">
											<option value="Vlaanderenstraat 117, 9000 Gent">Vlaanderenstraat 117, 9000 Gent</option>
											<option value="Geldhofstraat 1, 9300 Aalst">Geldhofstraat 1, 9300 Aalst</option>
										  </select>
										</div>
										
										<div class="form-group">
										  <label for="message">Uw vraag of opmerking</label>
										  <textarea class="form-control" id="message" rows="4" placeholder="Uw vraag of opmerking"></textarea>
										</div>
										<div class="form-group">
										  <label for="date">Datum</label>
										  <input type="text" class="form-control" id="date" placeholder="dd.mm.yyyy" autocomplete="off">
										</div>
										<div class="form-group">
										  <label for="timeslot">Tijdslot</label>
										  <select id="timeslot" class="form-control">
											<option value="10:00 - 11:00">10:00 - 11:00</option>
											<option value="11:00 - 12:00">11:00 - 12:00</option>
											<option value="12:00 - 13:00">12:00 - 13:00</option>
											<option value="13:00 - 14:00">13:00 - 14:00</option>
											<option value="14:00 - 15:00">14:00 - 15:00</option>
											<option value="15:00 - 16:00">15:00 - 16:00</option>
											<option value="16:00 - 17:00">16:00 - 17:00</option>
											<option value="17:00 - 18:00">17:00 - 18:00</option>
											<option value="18:00 - 19:00">18:00 - 19:00</option>
										  </select>
										</div>
										<button type="submit" class="btn btn-primary btn-orange">Verzenden</button>
										<a class="btn btn-default" onClick="prevback()">Terug</a> 
									</div>
								  
									<!-- quickrepair: add form + List service end html--> 



{% if has_variants %}
	<!-- configure template -->
	{% include "templates/generators/item/item_configure.html" %}
{% else %}
	<!-- add variant to cart -->
	{% include "templates/generators/item/item_add_to_cart.html" %}
{% endif %}

</div>

			<!-- quickrepair: add side-section start html-->
            <div class=" col-sm-12 col-md-3">
					<div class="bg-grey">
					  <div class=" block-block-3">
						<!--<p><strong>Why register a device?</strong></p>-->
						<ul>
						  <li>Klaar terwijl u wacht</li>
						  <li>Uw toestel als nieuw terug</li>
						</ul>
						<p><strong>Bij Quick Repair altijd:</strong></p>
						<ul class="secondstyle">
						  <li>1 jaar garantie</li>
						  <li>Scherp geprijsd</li>
						  <li>Snel & vakkundig</li>
						</ul>
						<a href="/contact#contactform" class="signup">
								  {{ _("STEL UW VRAAG") }}</a>
					  </div>
					</div>
					<div class="shopping_cart">
						<a href="https://shop.quick-repair.be/" target="_blank"> <i class="fa fa-shopping-cart"></i> {{ _("Bezoek onze webshop") }} </a>
					</div>
			   </div>
			  <!-- quickrepair: add side-section end html-->
	