{% extends "templates/web.html" %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block page_content %}
{% from "erpnext/templates/includes/macros.html" import product_image %}
<div class="item-content">
	<div class="product-page-content" itemscope itemtype="http://schema.org/Product">
		<div class="row">
			{% include "templates/generators/item/item_image.html" %}
			{% include "templates/generators/item/item_details.html" %}
		</div>

		{% include "templates/generators/item/item_specifications.html" %}

		{{ doc.website_content or '' }}
	</div>
</div>
{% include "templates/includes/quick_item_css.html" %}
{% endblock %}

{% block base_scripts %}
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
<script type="text/javascript" src="/assets/js/control.min.js"></script>
<script type="text/javascript" src="/assets/js/dialog.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-4-web.min.js"></script>
<!-- quickrepair js  -->
<script>
function nextPrev(text){
	$("#repair").val(text);
  $(".tab1").hide();
  $(".tab2").show();
}
function prevback(){
  $(".tab1").show();
   $("#repair").val('');
  $(".tab2").hide();
}

 {% include "templates/includes/repair_page.js" %}
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		
		$.getScript('/assets/frappe/js/lib/datepicker/datepicker.min.js', function() {
		 /*var options={
			 isRTL: false,
			format: 'yyyy-mm-dd',
			todayHighlight: true,
			autoclose: true,
			language: 'en'
		 };
		 */
		 $.fn.datepicker.language['en'] = {
			days: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
			daysShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
			daysMin: ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"],
			months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
			monthsShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
			today: "Today"
		};
		$('#date').datepicker({
			todayHighlight: true,
			autoClose: true,
			language: 'en'
		});
	  });
  // button for sign-up event
  $('.btn-orange').click(function() {
    $("#form-alert").toggle(false);
    $("input,textarea").removeClass('error');
    var args = {
        name: $('[id="name"]').val(),        
        email: $('[id="email"]').val(),
        phone: $('[id="phone"]').val(),
		model: $('[itemprop="name"]').text(),
        repair: $('[id="repair"]').val(),
        store: $('[id="store"]').find(":selected").text().trim(),
		timeslot: $('[id="timeslot"]').val(),
		message: $('[id="message"]').val(),
        date: $('[id="date"]').val()
      }
	  
	  $.each(args, function( key, value ) {
		  if(!value){msgerror(key);}
	  });
    // all mandatory
    if(!(args.name && args.email && args.phone && args.model
        && args.repair && args.store)) {
		msgprint('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>All fields are necessary. Please try again.</div>');
       return;
    }

    // email is valid
    if(!valid_email(args.email)) {
		msgerror('email');
        msgprint('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>Please enter a valid email id</div>');
        return;
    }

    // compose the message
    var message = "Name: " + args.name + "\n"
        + "Email: " + args.email + "\n"
        + "Telefoon: " + args.phone + "\n"
		+ "Model: " + args.model + "\n"
        + "Herstelling: " + args.repair + "\n"
        + "Winkel: " + args.store + "\n"
		+ "Opmerking: " + args.message + "\n"
        + "Datum: " + args.date  + "\n"
		+ "Tijdslot: " + args.timeslot

    frappe.send_message({
      subject: args.name,
      sender: $('[id="email"]').val(),
      status: 'Open',
      message: message,
      repair: args.repair,
      source:'Web Repair Item',
      callback: function(r) {
        // print return message
		window.location.href = "/thank-you";
        msgprint('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>Thanks for your repair order, please visit our store !</div>');
		    // r.message clear all inputs
        $(':input').val('');
      }
    });
  });

});
var msgerror = function(txt) {
    $("#"+txt).toggleClass('error');
}
var msgprint = function(txt) {
    $("#form-alert").html(txt).toggle(true);
	 $('html, body').animate({
        scrollTop: $(".page-container").offset().top
    }, 2000);
}
</script>	
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<!-- quickrepair js  -->

<!-- js should be loaded in body! -->


{% endblock %}