<!-- quickrepair: add css start-->
<style>
    @import url("/assets/frappe/js/lib/datepicker/datepicker.min.css");
    
    .page-container{max-width: 100%;}
    .page-container .page_content, .page-container .page-content.without-sidebar{padding-top:0;     padding-bottom: 00px;}
    .page-container .row {
         margin-right: 0px; 
         margin-left: 0px; 
    }
    .page-container .page-head,#page-iphone-x  .web-page-content {
        margin-bottom: 0;
    }
    
    section.custom{
       position:relative;
       width:100%;
       padding:24px 0;
    }
    section.title-section{
      border-bottom:1px solid #ddd;
      padding-bottom:0px;
    }
    .title-section h1{
       text-align:left;
       font-size:32px;
       line-height:40px;
       margin-top: 0px;
    }
    .phone-section table thead th{
       font-size:18px;
    }
    a.signup{
       color:#ef4c23;
       text-decoration:underline;
       font-size: 24px;
    }
    .phone-section .block-title{
        font-size: 2.4rem;
        margin-top:0;
        font-weight: 600;
            padding-top: 15px;
        border-top: 1px dashed #bbb;
    }
    .phone-section .block-title span{
        float:left;
        max-width:150px;
        padding: 15px;
        border-radius: 15px;
        margin-right: 12px;
    }
    .phone-section .block-title span img{
        max-width:95%;
    }
    .phone-section ol.number-sec{
       font-size: 1.5rem;
        line-height: 1.8;
        margin-bottom: 1.17647rem;
        list-style-position: outside;
        font-family: inherit;
        padding-left: 0;
        list-style: none;
     
    }
    .phone-section ol.number-sec li{
    counter-increment: counter-incr;
        padding-left: 28px;
        position: relative;
        padding-bottom: 5px;
    }
    .phone-section ol.number-sec li:before {
        content: counter(counter-incr);
        font-weight: 700;
        text-align: center;
        line-height: 24px;
        font-size: 14px;
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background-color: #ef3700;
        background-size: 24px;
        box-shadow: 1px 1px 0 #ca2f01;
        border-radius: 50%;
        text-shadow: 1px 1px 0 #ca2f01;
    }
    
    .bg-grey {
    }
    .block-block-3{
      padding: 15px;
        margin-top: 80px;
       border:1px solid #ddd;
    border-radius: 10px;
    }
     .block-block-3 ul {
        margin-left: 0;
        list-style: none;
        padding-left:0;
    }
    .block-block-3 ul li {
        padding-left: 24px;
        padding-bottom: 10px;
    position:relative;
    }
    .block-block-3  ul li:before {
        content: "\f046";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 20px;
        color:#ef4c23;
        text-rendering: auto;
        position: absolute;
       left:0;
       top:2px;
    }
    .block-block-3  ul.secondstyle li:before {
        content: "\f0a9";
    }
    
    .tab2{
       margin-top:20px;
    }
    .btn-orange{
       background-color: #EF3700;
       border-color:#EF3700;
    }
    .btn-orange:hover, .btn-orange:active, .btn-orange:focus, .btn-orange:visited{
       background-color: #bf2c00;
       border-color:#bf2c00;
    }
    .float-right{
       float: right;
       margin-top: -10px;
    	padding:0.2rem 0.75rem
    }
    input.error, textarea.error, select.error {
        border: 1px solid red;
    }
    input.error:focus, input.error:visited, input.error:active {
        border-color: #ced5db;
    }
    
    label.error {
        color: red;
    }
    #form-alert > div.alert{
        margin:0;
    }
    #form-alert .alert-success {
        color: #ffffff;
        background-color: #98d85b;
        border-color: #98d85b;
    }
    #form-alert .alert-success .close, #form-alert .alert-warning .close{
        opacity:0.6;
    }
    #form-alert .alert-warning {
        color: #ffffff;
        background-color: #ef4c23;
        border-color: #ef4c23;
    }
    </style>
    
    <!-- quickrepair: add css end-->